<div class="alert alert-success alert-dismissible fade in" id="real-notification" data-notification='real-notification'>
  <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
  <strong id="title">Alert!</strong>
  <span id="message">This is new message</span>
</div>
